body{
	/*background-color: #334242;*/
	background-color: #423d3d !important;
}
span{
	font-size: .8em;
    color: #d0e1e1;
    font-family: 'Caladea', serif;

}


h1{
	font-size:5.2vw !important;
	/*margin-bottom: 30px !important;*/
	float: left;
	/*color: #e67300;*/
	color: #F4A460;
	font-family: 'Satisfy', cursive;
	margin-top: 50px !important;
}
h2{
	color: #ff5733;
	font-size: 2.2em;
	font-family: 'Roboto Condensed',serif;
}
hr{
	border-width: 2px !important;
	border-color: #ffffff !important;
	margin: 0px;
	margin-bottom: 50px;
	
}
#threewords p{
	font-size: 4.5vw;
	font-family: 'Fredericka the Great', cursive;
 
  color: #F4A460;
}
.line{
    color: #b30000;
    font-weight: bolder;
    font-size: 100%;
}
#img{
	background-color: #2E2C2C;
}
#catchyLine{
    /*margin: 50px 0px 30px 0px;*/
    font-family: 'Kaushan Script',serif;
    font-size: 4vw;
    color: #BC8F8F;
}
.navbar-nav li{
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .nav-link{
    font-size: 1.1em !important;
    color: #fff !important;
  }
  .navbar-center { 
    position: relative; 
    left: 50%; 
    transform: translatex(-50%); 
  } 
  .nvlogo a img{
  width: 40px;
  height: 40px;
}
.nvlogo  a img:hover {
  width: 80px;
  height: 80px;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.btn1{
  position: relative;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-family: 'Oswald', sans-serif;
font-size: 18px;
}
.btn1 :hover{
  background-color: rgba(255, 255, 255, 0.178);
  color: #776146 !important;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
font-size: 18px;
}


  .nb{
    background-color: #705c42 ;
    border-color: transparent ;
  }
.menu{
	color: white;
	font-size: 1.3em;
	font-family: 'Roboto Condensed',serif;
}

footer{
    background-color: #705c42;
    color: #fff;
  }
  
.imgs{
	width: 80%;
	border: 10px solid #DDDDDD;
	/*border-radius: 5px;
*/}
@media (min-width: 1200px)
{
   .Myslideshow {
    width: 100%; 
    height: 650px;
    overflow:hidden; 
    position:relative;
    }
} 
@media (min-width: 992px) and (max-width: 1199px){
    .Myslideshow {
    width: 100%; 
    height: 547px;
    overflow:hidden; 
    position:relative;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .Myslideshow {
    width: 100%; 
    height: 412px;
    overflow:hidden; 
    position:relative;
    }
}
@media (max-width: 767px){
    .Myslideshow {
    width: 100%; 
    height: 311px;
    overflow:hidden; 
    position:relative;
    }
}

.Myslideshow{
    width: 100%;
    padding-left: 10%;
    height: 45vw;
}

.Myslideshow img {
    position: absolute;
	width: 80%; 
	height: auto;
	border: 15px solid #DDDDDD;
    border-radius: 10px; 
}
@-webkit-keyframes xfade {
    0% {
        opacity: 1;
    }
    7.69% {
        opacity:1;
    }
    11.69% {
        opacity:0;
    }
    96% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes xfade {
    0% {
        opacity: 1;
    }
    7.69% {
        opacity:1;
    }
    11.69% {
        opacity:0;
    }
    96% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.Myslideshow img:nth-child(14) {
    -webkit-animation: xfade 35s 0s infinite;
    animation: xfade 35s 0s infinite;
}
.Myslideshow img:nth-child(13) {
    -webkit-animation: xfade 35s 1.5s infinite;
    animation: xfade 35s 2.5s infinite;
}
.Myslideshow img:nth-child(12) {
    -webkit-animation: xfade 35s 4s infinite;
    animation: xfade 35s 5s infinite;
}
.Myslideshow img:nth-child(11) {
    -webkit-animation: xfade 35s 6.5s infinite;
    animation: xfade 35s 7.5s infinite;
}
.Myslideshow img:nth-child(10) {
    -webkit-animation: xfade 35s 9s infinite;
    animation: xfade 35s 10s infinite;
}
.Myslideshow img:nth-child(9) {
    -webkit-animation: xfade 35s 11.5s infinite;
    animation: xfade 35s 12.5s infinite;
}
.Myslideshow img:nth-child(8) {
    -webkit-animation: xfade 35s 14s infinite;
    animation: xfade 35s 15s infinite;
}
.Myslideshow img:nth-child(7) {
    -webkit-animation: xfade 35s 16.5s infinite;
    animation: xfade 35s 17.5s infinite;
}
.Myslideshow img:nth-child(6) {
    -webkit-animation: xfade 35s 19s infinite;
    animation: xfade 35s 20s infinite;
}
.Myslideshow img:nth-child(5) {
    -webkit-animation: xfade 35s 21.5s infinite;
    animation: xfade 35s 22.5s infinite;
}
.Myslideshow img:nth-child(4) {
    -webkit-animation: xfade 35s 24s infinite;
    animation: xfade 35s 25s infinite;
}
.Myslideshow img:nth-child(3) {
    -webkit-animation: xfade 35s 26.5s infinite;
    animation: xfade 35s 27.5s infinite;
}
.Myslideshow img:nth-child(2) {
    -webkit-animation: xfade 35s 29s infinite;
    animation: xfade 35s 30s infinite;
}
.Myslideshow img:nth-child(1) {
    -webkit-animation: xfade 35s 31.5s infinite;
    animation: xfade 35s 32.5s infinite;
}
.padding{
    padding-bottom: 2rem;
    padding-right: 2rem; padding-left:2rem;
  }
  .paddingup{
    padding-top: 2rem;
  }
::-webkit-scrollbar {
    width: 
    10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(131, 57, 57, 0.651);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  [class*="col-"]
{
  padding: 1rem;
}