
.img{border: 7px solid white;
    border-radius: 0px;
    margin-left: 10px;
    margin-right: 10px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  
  .xy{
      width: fit-content !important;

      background-color: #d9d9d9 !important;
  }
  
   .h1{font-family: 'Satisfy', cursive;
  color: #800000;
  font-size: 53px;
  font-weight: bold;}
  
   
  .heading{font-family: 'Fredericka the Great', cursive !important;
  color: #e67300 !important;
  text-align: center;
  font-weight: 600 !important;}
  
   #content p{font-family: 'Caladea', serif !important;
  font-size: 20px !important;}
  
  
  
  #mail{background-color: #ecc6c6;}
  label{color: #800000;
   font-weight: bolder;
  }
  .navbar-nav li {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  .nav-link {
    font-size: 1.1em !important;
    color: #fff !important;
  }
  
  .navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .nb {
    background-color: #705c42;
    border-color: transparent;
    position: top;
  }
  
  .btn1{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
  }
  .btn1 :hover{
    background-color: rgba(255, 255, 255, 0.178);
    color: #776146 !important;
    border-radius: 20px;
  }
  .nvlogo a img {
    width: 40px;
    height: 40px;
  }
  
  .nvlogo a img:hover {
    width: 80px;
    height: 80px;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  
  footer {
    background-color: #423d3d;
    color: #fff;
  }
  
  
  ::-webkit-scrollbar {
    width: 
    10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(131, 57, 57, 0.651);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  hr{ border-width: 4px !important;
    border-color: #666666 !important;}
    [class*="col-"]
  {
    padding: 1rem;
  }
  .padding{
    padding-bottom: 2rem;
    padding-right: 2rem; padding-left:2rem;
  }
  .paddingup{
    padding-top: 2rem;
  }
  li{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
  }
  label{color: #80000;
    font-weight: bold;}